*{
    margin:0;
    padding:0;
}

#body{
    background-color: #ffffff;
}

/*Logo e titolo*/


#header{
    background-color:#ffffff;
    padding: 60px 0 0 110px;

}

#logo{
    padding:10px 0px 10px 200px;
    vertical-align: middle;
}


h1{
    vertical-align: middle;
    font-size: 40px;
    vertical-align: middle;
    display: inline-block;
}

/*Grey box*/

#main{
    background-color: #f6f8f9;
    width: 45%;
    margin: auto;
    padding: 40px 125px 50px 125px;
    border-radius: 10px;
}

/*White box*/
#body_box_div {
    color: rgb(0, 0, 0);
    background-color:#ffffff;
}

/*buttons*/

#add{
    padding: 10px 0 5px 25px;
    border-bottom: 1px solid #c7c7c7;
}


.button_add_blue, .button_add_white{
    padding: 4px;
    border-radius: 4px;
    border: none; ;
}

.button_add_blue{
    background-color:#45abe9;
    color: rgb(255, 255, 255);
}

.button_add_white{
    color: gray;
    background-color:#ffffff;
    border: 1px soli gray;
}

/*New task*/

#list{
    padding:0 0 5px 25px ;
}

.first_menu{
  padding:25px 0 0 0 ;
}

.new-task{
    display:inline-block;
    padding:13px 0 0 0;
}

/*Button violett,green,orange,blue*/

.button_task_violett, .button_task_green, .button_task_orange , .button_task_blue{
    padding: 7px;
    border-radius: 10px;
    border: none;
    font-size: 8px;
}

/*Today*/
.button_task_blue{
    background-color: #45abe9
}

.button_task_violett{
    background-color: #9c72e4;
}

.button_task_green{
    background-color:#b0c926
}

.button_task_orange{
    background-color:#fdedda
}

/*Upcoming*/

.row{
    border: 1px solid rgb(192, 3, 3);
    border-radius: 40px;
}

.check{
    border: 1px solid green;
    border-radius: 20px;
}



